<footer class="site-footer">
  <p>The following online retail stores still carry my work:</p>
  <div class="retail-links">
    <a href="https://mixtiles.com/art/artist/Genevra%20Bell?fromArt=true">MixTiles for prints</a>
    <a href="https://www.mackenzie-childs.com/maypole-tea-set/32645-031.html">Children’s Tea Set at MacKenzie-Childs</a>
    <a href="https://www.potterybarnkids.com/products/the-animalphabet-minted-art/">Animalphabet Poster at Pottery Barn Kids</a>
    <a href="https://www.spoonflower.com/profiles/genevra_bell">Custom Printed Fabric at Spoonflower</a>
  </div>
</footer>
